body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  padding: 20px;
}
h1 {
  text-align: center;
}
section {
  background: #fff;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 8px;
}
form label {
  display: block;
  margin-bottom: 10px;
}
input, select {
  width: 100%;
  padding: 6px;
  margin-top: 4px;
}
button {
  margin-top: 10px;
  padding: 8px 12px;
  cursor: pointer;
}
table {
  width: 100%;
  border-collapse: collapse;
}
th, td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}
.income {
  color: green;
  font-weight: bold;
}

.expense {
  color: red;
  font-weight: bold;
}
